body {
  background: black;
  margin: 0;
  font-family: 'Oswald';
}
.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 1000px;
}
.parallax-layer {
  width: 1700px;
  height: 700px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 960px 253px;
}
.bar{
  width:1000px;
  height:150px;
  background:white;
  z-index: 28;
}
  .layer-0 {
    top: 0;
    z-index: 5;
    background: black no-repeat top 60px center;
    background-size: 120px 138.5px;
  }
  .layer-1 {
    top: 150px;
    z-index: 5;
    background-image: url("../assets/7.png");
      background-size: contain;
  }
  .layer-2 {
    top: 150px;
    z-index: 10;
    background-image: url("../assets/6.png");
    background-size: contain;
  }
  .layer-3 {
    top: 150px;
    z-index: 15;
    background-image: url("../assets/3.png");
    background-size: contain;
  }
  .layer-4 {
    top: 150px;
    z-index: 20;
    background-image: url("../assets/5.png");
      background-size: contain;
  }
  .layer-5 {
    top: 150px;
    z-index: 25;
    background-image: url("../assets/4.png");
    background-size: contain;
  }
  .layer-6 {
    top: 150px;
    z-index: 25;
    background-image: url("../assets/2.png");
    background-size: contain;
  }
  .layer-7 {
    top: 150px;
    z-index: 25;
    background-image: url("../assets/1.png");
    background-size: contain;
  }
  /* http://i.imgur.com/Ti2mNxd.png */

.content {
  position: absolute;
  top: 690px;
  background: black;
  width: 100%;
  min-height: 800px;
}
  .content h1 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
  }
.scroll-reveal {
  position: absolute;
  top: 1380px;
  background:black;
  width: 100%;
  height:2000px;
}

.test {
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}
.hover{
  display:flex;
  justify-content: center;
}
.image-one{
  margin-top: 50px;
  background-image:url("../assets/space.png");
  width:100%;
  height:500px;
  background-size: contain;
  background-repeat: no-repeat;

}
.image-one:hover{
  margin-top:50px;

  background-image:url("../assets/candy.png");
  width:100%;
  height:500px;
  background-size: contain;
  background-repeat: no-repeat;
}
.image-two{
  margin-top: 50px;
  margin-left: 10px;
  background-image:url("../assets/sun.png");
  width:100%;
  height:500px;
  background-size: contain;
  background-repeat: no-repeat;

}
.image-two:hover{
  margin-top:50px;
  margin-left:10px;
  background-image:url("../assets/moon.png");
  width:100%;
  height:500px;
  background-size: contain;
  background-repeat: no-repeat;
}
.image-three{
  margin-top: 50px;

  background-image:url("../assets/burger.png");
  width:100%;
  height:500px;
  background-size: contain;
  background-repeat: no-repeat;

}
.image-three:hover{
  margin-top:50px;
  background-image:url("../assets/drink.png");
  width:100%;
  height:500px;
  background-size: contain;
  background-repeat: no-repeat;
}
.scroll-reveal-2 {
  position: absolute;
  top: 2070px;
  background:black;
  width: 100%;
  min-height: 800px;
}
.test2 {
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}
.test3 {
  color: #fff;
  font-size: 5em;
  text-transform: uppercase;
  text-align: center;
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.blink{
  margin-top:50px;
  margin-left:450px;
  background-image:url("../assets/collage.jpg");
  width:70%;
  height:800px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: blink 1s;
  -webkit-animation-iteration-count: infinite;
}

.scroll-reveal-3 {
  position: absolute;
  top: 3200px;
  background:black;
  width: 100%;
  min-height: 800px;
}
.test4 {
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}
.gif{
  margin-top:50px;
  background-image:url("../assets/eye.GIF");
  background-repeat: repeat-x;
  width:100%;
  height:500px;
  background-size: contain;
}

.scroll-reveal-4 {
  position: absolute;
  top: 3900px;
  background:black;
  width: 100%;
  min-height: 500px;
}
.test5 {
  color: #fff;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}
